DEBUG=0
FORCE_DISCORD=0
UPDATE_CHANNEL_TOPIC=0
PRICE_MIN=
PRICE_MAX=
REQUIRED_LOCALITIES=Brno
EXCLUDED_LOCALITIES=
FOUND_OFFERS_FILE=found_offers.txt
REFRESH_INTERVAL_DAYTIME_MINUTES=30
REFRESH_INTERVAL_NIGHTTIME_MINUTES=90
DISCORD_TOKEN=replace-me
DISCORD_OFFERS_CHANNEL=0
DISCORD_SAVED_CHANNEL=0
DISCORD_DEV_CHANNEL=0
DISPOSITIONS=2+kk,2+1
